.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
    color: white;
    text-align: center;
}
#sc {
    width: 100%;
   padding: 1.250em; 
    margin-top:20%; 
}
#content {
    font-size: 16px;
    margin-top: 2%;
}