
#deck {
  margin: 5%;
}

#image {
height: 330px;
width: 100%;
margin-top: 6%;
border-radius: 8px;
}

#carousel {
width: 88%;
margin: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer { 
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #343A40;
  color: white;
  text-align: center;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

*:not(i){
  font-family: 'Titillium Web', sans-serif !important; 
}