.sticky1 {
    margin-bottom: 15px;
    padding: 4px 12px;
    
    width: 127px;
    height: 129px;
  } 
  
  .danger1 {
    background-color: #ffdddd;
    border-top: 25px solid green !important;    
    height: 129px;
}