.task-header{
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}
.tableClass{
  align-content: center;
    width: 56%;
    margin-top: -1%;
    margin-left: 29%;

    }

.colCss{
  border: 1px outset darkgray !important;
  width: 77%;
  height: 49px;
  padding-top: 1%;
  margin-top: 2%;
  border-radius: 9px 10px 0px 0px;
  background-color: white ;
  color: rgb(32, 155, 236);
  font-style: bold;
  padding-left: 2%;
  padding-right: 2%;
}
.stickys{
  background-color: white !important	 ;
      border-top: 25px solid rgb(188, 241, 144) !important;
      border-radius: 15px 10px 0px 0px;
      box-shadow: 5px 10px 18px #888888;
      height: 120px !important;
      width: 91%;
      box-shadow: 10px;
      margin-left: -6px;
      margin-bottom: 25%; 
      margin-top: 10%;

    }
.rowCss{
      border: 1px darkgray solid;
    width: 77%;
    padding-left: -11%;
    margin-left: 0% !important;

}
.dates{
  margin-top: 11% !important;

}
.completed{
  margin-top: 5%;

}

.fromToCss{
  width: 159%;
  margin-left: -59%;
}
  
  
	



/* @media screen 
and (min-device-width: 1500px) 
and (max-device-width: 3626px) 
and (-webkit-min-device-pixel-ratio: 1) { 
  
  .b{
    margin-left: 1%;
    margin-top: 5%;
  }
} */


.colCss:hover {
  background-color: rgba(90, 86, 86, 0.966);
  color: aliceblue
}
  
  
@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2493px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .iconSys{
      margin-left: 70%;
      margin-bottom: -20%;
      position: relative;
      margin-top: 13%;
    }
  }
  @media screen 
  and (min-device-width: 1401px) 
  and (max-device-width: 1599px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
  .iconSys{
    margin-left: 60%;
    margin-bottom: -22%;
    position: relative;
    margin-top: 8%
  }
  }
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1400px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .iconSys{
      margin-left: 49%;
      margin-bottom: -29%;
      position: relative;
      margin-top: 10%;
    }
  }
  @media screen 
  and (min-device-width: 992px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
  .iconSys{
    margin-left: 50%;
    margin-bottom: -34%;
    margin-top: 15%;
    position: relative;
  }
  }
  .toggle{
    float: right;
  }



