.container {
    width: 100%;
    padding: 1%;
    margin-left: 5px;
}
.search {
    width: 20%;
}
.heading {
    width: 81%;
    padding-left: 36%;
  
}
.heddinglib{
    width: 417px;

}
.logout {
    font-size: 20px;
    font-weight: 600;
    background-color: #314A77;
    position: absolute;
    
 
} 
.log{
    margin-left: 284px !important;
}
.bg-header {
    background-color: rgba(0,0,0,0.5) !important;
}
.heading-color {
    color: #E0E9FA;
}
ul {
    width:100%;
}

.b{
    margin-top: -65px;
margin-left: 223px;
}
.search{
    margin-left: 23%;

}